body {
  text-align: center;
  background-color: white;
  font-family: proxima-nova, sans-serif;
}

.Timer {
  margin-left: 23.3vw;
  width:50vw;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  width: 50px;
  height: 50px;
  font-size: 35px;
  background-color: #CC231E;
  padding: 10px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
}

#DaysUnits {
  font-size: 13px !important;
  height: 25px !important;
}
#HoursUnits {
  font-size: 13px !important;
  height: 25px !important;
}
#MinutesUnits {
  font-size: 13px !important;
  height: 25px !important;
}
#SecondsUnits {
  font-size: 13px !important;
  height: 25px !important;
}

#popup {
  /* display:none; */
}